# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Uploads & logs
uploads/*
!uploads/.gitkeep
*.log
npm-debug.log*

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
